
body {
	background: #f1f1f1;
}

ul {

}

li {
	
}

li > a {
	margin: 10px;
	display: block;
	text-decoration: none;
	background: #fff;
}

li > a::after {
  content:"";
  display:table;
  clear:both;
}

li > a > img,
li > a > p {
	float: left;
}
